.highlight {
  background: $dbg;
  color: $dt1;
  padding: $sone;

  .w {
    color: $dt1;
  }

  .c,
  .cd,
  .cm,
  .c1,
  .cs,
  .o,
  .ow,
  .p,
  .pi {
    color: $dt2;
  }

  .cp,
  .nt,
  .nn,
  .nc,
  .no {
    color: $primary1;
  }

  .nv,
  .na {
    color: $primary2;
  }

  .gh {
    color: $primary2;
    font-weight: 700;
  }

  .m,
  .mf,
  .mh,
  .mi,
  .il,
  .mo,
  .mb,
  .mx,
  .ss,
  .nb,
  .gi,
  .s,
  .sb,
  .sc,
  .sd,
  .s2,
  .sh,
  .sx,
  .s1 {
    color: $primary3;
  }

  .nf,
  .sr {
    color: $secondary1;
  }

  .si,
  .se {
    color: $secondary2;
  }


  .kc,
  .kt,
  .kd {
    color: $tertiary1;
  }

  .k,
  .kn,
  .kp,
  .kr,
  .kv {
    color: $tertiary2;
  }

  .err,
  .gd {
    color: $tertiary3;
  }
}
